<!DOCTYPE html>

<html lang="en" ng-app="restaurantApp">
  <head>
    <meta charset="UTF-8">
    <title>Restaurant App</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/RestaurantController.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body>
    <div class="container" ng-controller="RestaurantCtrl">
      <div class="row">
        <div class="col-md-12" ng-show="restaurants.length">
          <h4>Search Restaurants</h4>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="query" class="form-control" placeholder="Search">
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1>Best Restaurants</h1>
          <p ng-show="restaurants.length && !filtered.length">
            No Restaurants found.
          </p>
          <div ng-repeat="item in filtered = (restaurants | filter:query)">
            <span class="pull-right">
              <a href="#" ng-click="editing = true">Edit</a>
              <a href="#" ng-click="deleteRestaurant(item)" class="text-danger">X</a>
            </span>
            <h4>{{item.name}}</h4>
            <ul ng-hide="editing">
              <li>{{item.type}}</li>
              <li>{{item.address}}</li>
              <li>{{item.price}}</li>
            </ul>

            <form ng-submit="editing = false" class="form-inline" ng-show="editing" role="form">
              <div class="form-group">
                <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Edit Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-sm" ng-model="item.type" placeholder="Edit type of food">
              </div>
              <div class="form-group">
                <input type="text"class="form-control input-sm" ng-model="item.address" placeholder="Edit address">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-sm" ng-model="item.price" placeholder="Edit price point">
              </div>

              <button type="submit" class="btn btn-default">Save</button>
            </form>

          </div>
        </div>
        <div class="col-md-4">
          <h2>New Restaurant</h2>
          <form ng-submit="addRestaurant()" class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="restaurantName" class="form-control" placeholder="Enter name">
            </div>
            <div class="form-group">
              <input type="text" ng-model="foodType" class="form-control" placeholder="Type of food">
            </div>
            <div class="form-group">
              <input type="text" ng-model="address" class="form-control" placeholder="Enter address">
            </div>
            <div class="form-group">
              <input type="text" ng-model="pricePoint" class="form-control" placeholder="Enter price point">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
